<html>
<head>
<style>
img {
  margin-left: 200px;
}
</style>
<title>Page Title</title>
</head>
<body>

<img src="https://intelliflow.in/IFlogo.png" alt="" width="500" height="333"  >

<p>Hi  <%= FirstName %> <%= LastName %>,
</p>
<p>We received a request to reset your password for your IntelliFlow account</P>
<p>
Please <a href="<%= Link %>">click here</a> to reset your password:</p>

<p>
If this request is not raised by you, please ignore this email</P>

<p>
If you suspect someone else is trying to gain access to your account, please contact us at customer-care@intelliflow.io </P>


<p>
Thanks you,</p>
<p>IntelliFlow Solutions Pvt Ltd.,</P>

</body>
</html>

